:root {
  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --headings-color: #1b0760;
  --body-color: #918ca4;
  --border-color: #ccc;
  --dark-body-color: #5c5577;

  --border-radius: 30px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/** typography */
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px = 1rem */
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--body-color);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--headings-color);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/** links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badges */
/* structure */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
/* skin */
/* bem convention use -- for modifiers */
.badge--primary {
  background-color: var(--primary-color);
  color: white;
}

.badge--secondary {
  background-color: var(--secondary-color);
  color: white;
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--headings-color);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("../images/tick.svg");
  /* make sure icon are on the screen */
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* icons */

.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon--primary {
  /* fill only applies to svg */
  fill: var(--primary-color);
}
.icon--white {
  fill: white;
}
.icon-container {
  background: #f3f9fa;
  /* icons are always the same size, not relative to font size */
  width: 64px;
  height: 64px;
  border-radius: 100%;
  /* use inline-block to have a circle background but we want the icon in the middle so inline-flex */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background-color: var(--accent-color);
}

/* buttons */
.btn {
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--outline {
  background-color: transparent;
  border: 2px solid var(--headings-color);
  color: var(--headings-color);
}
.btn--outline:hover {
  background-color: var(--headings-color);
  color: white;
}
.btn--primary {
  background-color: var(--primary-color);
  color: white;
}
.btn--primary:hover {
  background-color: #3a8ffd;
}
.btn--secondary {
  background-color: var(--secondary-color);
  color: white;
}
.btn--secondary:hover {
  background-color: #00c8eb;
}
.btn--accent {
  background-color: var(--accent-color);
  color: white;
}
.btn--accent:hover {
  background-color: #ec3000;
}
.btn--block {
  width: 100%;
  /* for anchor element that are inline by default (if using a for buttons) */
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* inputs */
input {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  color: var(--headings-color);
  outline: none;
  padding: 1.5rem 3.5rem;
}
::placeholder {
  font-size: 2rem;
  color: #cdcbd7;
}
.input-group {
  border: 1px solid var(--border-color);
  box-shadow: 5px 5px lightblue;
  border-radius: var(--border-radius);
  /* use flex to push button to the right  */
  display: flex;
}
.input-group input {
  border: 0;
  /* push button by growing input field */
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .btn {
  margin: 4px;
}
@media screen and (min-width: 1024px) {
  input {
    font-size: 1.5rem;
  }
}

/* cards */
.card {
  border-radius: 7px;
  /* x-offset y-offset blur spread color   */
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--primary-color);
  color: white;
}
.card--secondary .card__header {
  background: var(--secondary-color);
  color: white;
}
.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

/* plans */
.plan__name {
  color: white;
  margin: 0;
  /* use any value as the font (inter) is a variable font */
  font-weight: 500;
  font-size: 2.4rem;
}
.plan__price {
  font-size: 6rem;
}
.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}
.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}
.plan--popular .card__header {
  /* set to relative so we can set the image to absolute */
  position: relative;
}
.plan--popular .card__header::before {
  content: url("../images/popular.svg");
  width: 40px;
  /* inline-block so the width is applied */
  display: inline-block;
  /* set to absolute so we can move freely the image
  this means the parent must be set to relative */
  position: absolute;
  top: -6px;
  right: 5%;
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}

/* medias */
.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}
.media__image {
  margin-top: 1rem;
}

/* quotes */
.quote {
  font-size: 3rem;
  color: var(--dark-body-color);
  font-style: italic;
  line-height: 1.3;
}

.quote__body::before {
  /* pre defined value make sure we have opening version */
  content: open-quote;
}
.quote__body::after {
  /* pre defined value make sure we have closing version */
  content: close-quote;
}
.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}
.quote__org {
  font-size: 2rem;
  font-style: normal;
  color: var(--headings-color);
  opacity: 0.4;
}
.quote__line {
  position: relative;
  bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__org {
    font-size: 1.6rem;
  }
}

/* grids */
.grid {
  display: grid;
}
/* for tablets and up we want 2 cols */
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
/* for wide screens and up we want 3 cols */
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* testimonials */
.testimonial {
  padding: 3rem;
}
.testimonial__image {
  /* use relative positioning on the container to allow absolute of inside elts */
  position: relative;
}
.testimonial__image img {
  width: 100%;
}
.testimonial__image .icon-container {
  position: absolute;
  right: -32px;
  top: 3rem;
}
@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 6rem;
  }
}
