<section class="block container">
    <h2 class="block__title">Block title</h2>
    <p class="block__content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam,
      repudiandae?
    </p>
  </section>
  <section class="block block--dark block--skewed-left">
    <div class="container">
      <header class="block__header">
        <h2 class="block__title">Block title</h2>
        <p class="block__content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam,
          repudiandae?
        </p>
      </header>
      <p class="block__content">
        <div class="card card--primary">
          <header class="card__header">Cart title</header>
          <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          aliquid soluta architecto in modi minima alias,
          </div>
        </div>

        <div class="card card--secondary">
          <header class="card__header">Cart title</header>
          <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          aliquid soluta architecto in modi minima alias,
          </div>
        </div>
      </p>
    </div>
  </section>
