<section class="block container block-domain">
  <header class="block__header">
    <h2 class="bloc__title">Starting at 10$ per month</h2>
    <p class="block__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, impedit?
    </p>
  </header>
  <div class="input-group">
    <input type="text" placeholder="Enter domain here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li>.sg $10</li>
    <li>.biz $12</li>
    <li>.eu $20</li>
    <li>.so $3</li>
    <li>.in $23</li>
  </ul>
</section>
