<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__content">
        <li class="nav__item"><a href="#">Wordpress hosting</a></li>
        <li class="nav__item">
          <a href="#">Free automated wordpress</a>
        </li>
        <li class="nav__item"><a href="#">Migrations</a></li>
        <li class="nav__item"><a href="#">Domain names</a></li>
        <li class="nav__item"><a href="#">Monthly web hosting</a></li>
      </ul>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__content">
        <li class="nav__item"><a href="#">About</a></li>
        <li class="nav__item"><a href="#">Affiliates</a></li>
        <li class="nav__item"><a href="#">Blog</a></li>
        <li class="nav__item"><a href="#">Careers</a></li>
        <li class="nav__item"><a href="#">Community</a></li>
        <li class="nav__item"><a href="#">News</a></li>
        <li class="nav__item"><a href="#">Green hosting</a></li>
      </ul>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__content">
        <li class="nav__item"><a href="#">Contact</a></li>
        <li class="nav__item"><a href="#">Knowledge base</a></li>
        <li class="nav__item"><a href="#">Forums</a></li>
        <li class="nav__item"><a href="#">System status</a></li>
        <li class="nav__item"><a href="#">Web hosting</a></li>
        <li class="nav__item"><a href="#">Dreamcompute</a></li>
      </ul>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__content">
        <li class="nav__item"><a href="#">Domains checker</a></li>
        <li class="nav__item"><a href="#">Domain transfer</a></li>
        <li class="nav__item"><a href="#">Free domain</a></li>
        <li class="nav__item"><a href="#">XYZ domain</a></li>
        <li class="nav__item"><a href="#">Cheap SSL certificate</a></li>
      </ul>
    </section>
    <section class="footer__brand">
      <a href="/">
        <img src="images/logo.svg" alt="The logo" />
        <p class="footer__copyright">the Mosh company</p>
      </a>
    </section>
  </div>
</footer>
