<section class="block block--dark block--skewed-right">
    <div class="container">
      <header class="block__header">
        <h2>User-friendly control panel</h2>
      </header>
      <p class="block__content">
        <div class="block container block-showcase">
          <div class="grid grid--1x2">
            <picture class="block-showcase__image">
              <source
                type="image/webp"
                srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
              />
              <source
                type="image/png "
                srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
              />
              <img src="images/ipad@2x.png" alt="" />
            </picture>
            <ul class="list">
              <li>
                <div class="media">
                  <div class="media__image">
                    <svg class="icon icon--primary">
                      <use xlink:href="images/sprite.svg#snap"></use>
                    </svg>
                  </div>
                  <div class="media__body">
                    <h3 class="media__title">Easy start & management</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Provident, sit.
                    </p>
                  </div>
                </div>
                </li>
              <li>
                <div class="media">
                  <div class="media__image">
                    <svg class="icon icon--primary">
                      <use xlink:href="images/sprite.svg#snap"></use>
                    </svg>
                  </div>
                  <div class="media__body">
                    <h3 class="media__title">Staging, GIT & WP-CLI</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Provident, sit.
                    </p>
                  </div>
                </div>
                </li>
              <li>
                <div class="media">
                  <div class="media__image">
                    <svg class="icon icon--primary">
                      <use xlink:href="images/sprite.svg#snap"></use>
                    </svg>
                  </div>
                  <div class="media__body">
                    <h3 class="media__title">Caching whatever</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Provident, sit.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </p>
    </div>
  </section>
